body {
  font: 300 20px/1.46 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 128%; }

.container {
  margin-left: 2em;
  margin-right: 2em;
  min-width: 950px; }

.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px; }

.block-bar, .header:before, .header:after {
  width: 30%;
  display: block;
  content: ""; }

.header {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  height: 0.1em;
  background-color: #6fbffe; }

.header:before {
  float: left;
  height: 0.1em;
  background-color: #4c2f31; }

.header:after {
  float: right;
  height: 0.1em;
  background-color: #17111d; }

.footer {
  position: relative; }
  .footer .attrib {
    left: 50%;
    margin-left: -150px;
    position: fixed;
    bottom: 0;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.2em; }

.home {
  text-align: center; }
  .home .latestPost {
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 2em; }
  .home .posts {
    display: inline-block;
    vertical-align: top;
    padding-right: 4em;
    padding-left: 4em; }
    .home .posts li {
      text-align: left; }
