.block-bar, .header:before, .header:after {
  width: 30%;
  display: block;
  content: ""; }

.header {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  height: 0.2em;
  background-color: #6fbffe; }

.header:before {
  float: left;
  height: 0.2em;
  background-color: #4c2f31; }

.header:after {
  float: right;
  height: 0.2em;
  background-color: #17111d; }

.footer {
  width: 100%;
  position: absolute;
  bottom: 1em;
  text-align: center; }
