$darker-blue: #1892DB;
$lighter-blue: #6FBFFE;
$darker-chocolate: #17111D;
$lighter-chocolate: #4C2F31;

.container {
  margin-left: 8em;
  margin-right: 8em;
}

.block-bar {
  width: 30%;
  display: block;
  content: "";
}

.header {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  height: 0.2em;
  background-color: $lighter-blue;
}
.header:before {
  @extend .block-bar;
  float: left;
  height: 0.2em;
  background-color: $lighter-chocolate;
}
.header:after {
  @extend .block-bar;
  float: right;
  height: 0.2em;
  background-color: $darker-chocolate;
}

.footer {
  position: relative;

  .attrib {
    left: 50%;
    margin-left: -150px;
    position: fixed;
    bottom: 0;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.2em;
  }
}

.home {
  text-align: center;

  .latestPost {
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 2em;
  }

  .posts {
    display: inline-block;
    vertical-align: top;
    padding-right: 4em;
    padding-left: 4em;
    li {
      text-align: left;
    }
  }
}



