---
layout: default
title: blog.rebounds.net
---

<div id="home">
  <ul class="posts">
    {% assign showPost = true %}
    {% for post in paginator.posts %}
      {% if showPost %}
        <li>{{ post.title }} {{ post.date | date_to_string }}</li>
        {% assign showPost = false %}
      {% else %}
        {% assign showPost = true %}
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="posts">
    {% assign showPost = false %}
    {% for post in paginator.posts %}
      {% if showPost %}
        <li>{{ post.title }} {{ post.date | date_to_string }}</li>
        {% assign showPost = false %}
      {% else %}
        {% assign showPost = true %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="post-nav">
    {% if paginator.previous_page_path: %}
      <a href={{ paginator.previous_page_path }}>previous</a>
    {% endif %}
    {% if paginator.next_page_path: %}
      <a href={{ paginator.next_page_path }}>next</a>
    {% endif %}
  </div>
</div>
