.menu {
  font-size: 3em;
  background: rgba(100, 100, 100, .6);
  position: absolute;
  bottom: 30px;
  color: white;
  width: 30%;
}

.menu p {
  margin-top: 0em;
  margin-bottom: 0em;
}

.menu .info {
    margin-top: 0.5em;
    font-size: 0.5em;
}

.indent {
  margin-left: 0.5em;
}

body {
  font-family: '.SFNSDisplay-Regular', sans-serif;
}

html {
  background: url(https://photos-2.dropbox.com/t/2/AAAp9klIR0ulfusMWNUrdE4Edyz9cUwi5PE3sffoUB1H-Q/12/33407860/png/32x32/3/1452772800/0/2/sad_me.png/ENbPqhkYt6IVIAcoBw/nHl3WvC3tgJcV0oPY9A_WpG9sm4PX3XB4DCn4HUQ72c?size_mode=3&amp;size=1280x960) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: white;
}
