.menu {
  font-size: 3em;
  background: rgba(100, 100, 100, .6);
  position: absolute;
  bottom: 30px;
  color: white;
  min-width: 300px;
}

.menu p {
  margin-top: 0em;
  margin-bottom: 0em;
}

.menu .info {
    margin-top: 0.5em;
    font-size: 0.5em;
}

.indent {
  margin-left: 0.5em;
}

body {
  font-family: '.SFNSDisplay-Regular', sans-serif;
}

html {
  background: url(https://s3.amazonaws.com/rebounds-dev/rebounds-homepage/user_images/sad_me.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size:200%;
}
@media(min-width:1024px){
  html{font-size: 90%}
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: white;
}
